<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/71dc5f8d27.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/main-build.min.css" />
    <script src="/assets/js/bootstrap.bundle-build.min.js"></script>
    <title>{{{title}}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>