{{> nav-bar}}
<div class="container-fluid bg-primary">
  <h1>Focus on your goals</h1>
  <p>Discover new post, stories and information</p>
  <button type="button" class="btn btn-success">Start reading</button>
  {{#if loggedIn}}
    <button type="button" class="btn btn-success">Start writing</button>
  {{else}}
    <button type="button" class="btn btn-success">Log In</button>
  {{/if}}
</div>